.dropdown{
    max-width: 200px; /* Ajusta según tus necesidades */
    padding: 10px 20px;
    color: var(--text);
    border-color: var(--secondary-background);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.dropdown:hover{
    border-color: var(--primary);
}

.dropdown:focus{
    border-color: var(--primary);
    border: 3px solid var(--primary);
}

.item{
    padding-top: 10px;
    font-weight: 700;
}
