:root {
    --text: #333333;
    --background: #ffffff;
    --primary: #0790cf;
    --primary-hover:#067BB1;
    --secondary: #D8F2FE;
    --secondary-background:#CCCCCC;
    --accent: #aaff00;
  }

.body-measure-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80vh;
  justify-content: center;
  row-gap: 40px;
}
.body-dropdown-container{
  row-gap: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.progress-exercise-container{
  display: flex;
  padding: 30px 100px;
  flex-direction: column;
  row-gap: 50px;
}

.container3{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: flex-start !important;
}

.measures-list-header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.measures-list-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}



.cardcontainer2{
  list-style: none !important;
  width: 100% !important;
  padding: 0;
  height: 80vh !important;
  overflow-x: hidden;
  overflow-y: scroll !important;
  margin-bottom: 0;
}

.col-3{
  max-width: 50px;
}

.grid{
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  width: 350px;
  flex-wrap: wrap;
  margin-right: -.5rem;
  margin-left: -.5rem;
  margin-top: -.5rem;
}


.milestone-container{
  width: 100% !important;
  margin: 0;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.images-container2{
  align-self: center;
  padding-bottom: 40px;
}

.body-measure-header{
  display: flex;
  flex-direction: row !important;
}