.tooltip-container{
    position: relative;
    display: inline-block;
}

.tooltip-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    justify-content: center;
    position: absolute;
    bottom: calc(100% + 10px);
    left: -200px;
    background-color: white;
    color: var(--text);
    padding: 10px;
    border-radius: 4px;
    z-index: 10 !important;
    box-shadow: 0 2px 5px rgba(0,0,0,.8);          
    min-width: 400px;
}
