:root {
    --text: #333333;
    --background: #ffffff;
    --primary: #0790cf;
    --primary-hover:#067BB1;
    --secondary: #D8F2FE;
    --secondary-background:#CCCCCC;
    --accent: #aaff00;
  }



.Container{
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--secondary-background);
}

.Container a {
    text-decoration: none;
  }
  

  .MainContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}